/* CSS Reset can be found at the bottom of this file */

/* Global Page Elements */

h1 {
    font-family: 'K2D', sans-serif;
 }

 h2 {
    font-family: 'K2D', sans-serif;
 }

 h3 {
    font-family: 'K2D', sans-serif;
 }

 p {
    font-family: 'Roboto', sans-serif;
 }

 ul, li {
    font-family: 'Roboto', sans-serif;
 }



/* Background Video */

.background-video video{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100%;
    opacity: .2;
    overflow: hidden;
}

/* Header */

.site-header {
    text-align: center;
    background-color: #FDFFFC;
    border-radius: 5px;
    opacity: .8;
    padding: 10px 0px;
    margin: 10px 0px;
}

.site-header a {
    text-decoration: none;
}

.site-headline {
    font-size: 3em;
    color: #213A86
}

.byline {
    color: #213A86;
    font-size: 2em;
}

/* Game Containers */

.game-container {
    min-height: 500px;
    margin: auto;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    opacity: .8;
}

.question-container {
    background-color: darkgrey;
    height: 150px;
    border-radius: 10px;
}

.js-responses-container {
    text-align: center;
}

.status-photo-container {
    background-color: darkgrey;
    height: 150px;
    border-radius: 10px;
}

.padding-container {
    height: 10px;
}

.answer-container {
    text-align: center;
    background-color: lightgray;
}


/* Instructions */

.instruction-container {
    text-align: center;
}

.game-instructions {
    text-align: left;
    padding-bottom: 10px;
}

.instructions-list li {
    list-style-type: square;
    list-style-position: inside;
    white-space: normal;
    word-wrap: break-word;
}


.game-instructions-header {
    text-align: center;
    padding: 10px 0;
}

.begin-game {
    text-align: center;
    margin: 0 auto;
}

/* Questions */

.question-number {

    padding: 10px 0px;
}

.question {

    padding: 20px;
}

.quiz-answer-form {
    padding-top: 10px;
}

.question-counter {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}

/* Answers */

.form-list {
    text-align: left;
}

.answer-text {
    color: darkgreen;
    padding: 10px 0;
}

.wrong {
    color: darkred;
}

.right {
    color: darkgreen;
}

.form-list input {
    display: inline;
}

/* Final Tally */

.final-score {
    font-size: 1.6em;
    font-weight: 500;
    padding: 20px;
}

.rating {
    font-size: 1.6em;
    font-weight: 500;
    padding: 20px;
}

.rating-example {
    font-weight: 800;
}

.rating-final {
    font-size: 1.6em;
    font-weight: 700;
}

/* Quiz Controls */

.js-submit-button {
    background-color: white;
    margin: 25px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    font-size: 1.25em;
}

.js-question-container {
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
    padding: 15px;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    
    .site-headline {
        font-size: 2.5em;
    }

    .byline {
        font-size: 1.5em;
    }
}

/* ************************************************** */

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    vertical-align: baseline;

}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /* End CSS Reset */

 
